# List of the flages we used in different stages for deploy pipeline.
# Comma separated list of flags. Make sure to end with a comma, Eg: $name,$xyz,
mandatoryFlags="$pipelineName,$localDirectory,$manifestsPath,"
# Path to the templates.
templatesPath="scripts/pipelines/azure-devops/templates/deploy"
# YAML file name.
yamlFile="deploy-pipeline.yml"
# Path to the pipelines.
pipelinePath=".pipelines"
# Script directory.
scriptFilePath=".pipelines/scripts"
# Source branch.
sourceBranch="feature/deploy-pipeline"


# Function that adds the variables to be used in the pipeline.
function addPipelineVariables {
    # Create variables in Azure pipeline for service connection.
    echo -e "${green}Creating the variable for service connection..."
    echo -ne ${white}

    # Add the manifest files path variable.
    az pipelines variable create --name "deployFiles" --pipeline-name $pipelineName --value ${deployFiles}

    # Add the kubernetes service coonection variable.
    az pipelines variable create --name "k8s_service_connection" --pipeline-name $pipelineName --value ${k8s_service_connection}  

    # Add the container registry service connection variable.
    az pipelines variable create --name "Container-Reg-Connection" --pipeline-name $pipelineName --value ${Container-Reg-Connection} 

    # Add the k8s namespace variable.
    az pipelines variable create --name "k8sNamespace" --pipeline-name $pipelineName --value ${k8sNamespace}       
    
}

