# VSCode Config
.vscode/*

# VSCode Hangar Extension
/extension/scripts/*
!/extension/scripts/.gitkeep

# Terraform files
**/.terraform/**
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup

# secrets folder
**/.secrets/**
