BASE_URL=$backendUrl
FIREBASE_APP_NAME=WAYAT
PROJECT_ID=$projectName
MESSAGING_SENDER_ID=$messageSenderId
STORAGE_BUCKET=$projectName.appspot.com
MAPS_STATIC_SECRET="$mapsStaticSecret"
WEB_CLIENT_ID=$webClientId
WEB_API_KEY=$webApiKey
WEB_APP_ID=$webAppId
WEB_AUTH_DOMAIN=$webAuthDomain
WEB_MEASUREMENT_ID=$webMeasurementId
ANDROID_API_KEY=$androidApiKey
ANDROID_APP_ID=$androidAppId
IOS_API_KEY=$iosApiKey
IOS_APP_ID=$iosAppId
IOS_ANDROID_CLIENT_ID=$iosAndroidClientId
IOS_CLIENT_ID=$iosClientId
IOS_BUNDLE_ID=$iosBundleId
DESKTOP_CLIENT_ID=$desktopClientId