# Mandatory flags.
mandatoryFalgs="$pipelineName,$localDirectory,$resourceGroupName,$storageAccountName,$storageContainerName,"
# Path to the templates.
templatesPath="scripts/pipelines/azure-devops/templates/aks"
# YAML file name.
yamlFile="aks-provisioning.yml"
# Source branch.
sourceBranch="feature/aks-provisioning"
# Path to the pipelines.
pipelinePath=".pipelines"
# Path to terraform templates.
terraformTemplatesPath="scripts/environment-provisioning/azure/aks"
# Path to terraform scripts.
terraformPath=".terraform/aks"

# Function that copies the terraform scripts into the directory.
function copyScript {
    # Check if the .terraform folder exists.
    if [ -d "${localDirectory}/.terraform" ]
    then
        # The folder .terraform exists.
        
        # Check if the aks folder exists inside the terraform folder.
        if [ ! -d "${localDirectory}/${terraformPath}" ]
        then
            # The folder does not exist.

            # Create the aks folder.
            cd ${localDirectory}/.terraform
            mkdir aks
        fi
    else
        # The folder .terraform does not exist.

        # Create the .terraform folder.
        cd ${localDirectory}
        mkdir .terraform

        # Create the aks folder.
        cd ${localDirectory}/.terraform
        mkdir aks
    fi

    # Copy main terraform file.
    cp "${hangarPath}/${terraformTemplatesPath}/main.tf" "${localDirectory}/${terraformPath}/main.tf"

    # Copy variables terraform file.
    cp "${hangarPath}/${terraformTemplatesPath}/variables.tf" "${localDirectory}/${terraformPath}/variables.tf"

    # Copy tfvars terraform file.
    cp "${hangarPath}/${terraformTemplatesPath}/terraform.tfvars" "${localDirectory}/${terraformPath}/terraform.tfvars"

    # Copy terraform outputs file.
    cp "${hangarPath}/${terraformTemplatesPath}/outputs.tf" "${localDirectory}/${terraformPath}/outputs.tf"

    # Check if an extra artifact to store is supplied.
    if test ! -z "$artifactPath"
    then
        # Add the extra step to the YAML.
        cat "${hangarPath}/${templatesPath}/store-extra-path.yml" >> "${localDirectory}/${scriptFilePath}/${yamlFile}"
    fi
}

# Function that adds the variables to be used in the pipeline.
function addPipelineVariables {
    # Add the extra artifact to store variable.
    az pipelines variable create --name "artifactPath" --pipeline-name $pipelineName --value ${artifactPath}

    # Add the resource group name variable.
    az pipelines variable create --name "resourceGroupName" --pipeline-name $pipelineName --value ${resourceGroupName}

    # Add the storage account name variable.
    az pipelines variable create --name "storageAccountName" --pipeline-name $pipelineName --value ${storageAccountName}

    # Add the storage container name variable.
    az pipelines variable create --name "storageContainerName" --pipeline-name $pipelineName --value ${storageContainerName}
}