# Mandatory flags.
mandatoryFlags="$pipelineName,$localDirectory,"
# Path to the templates.
templatesPath="scripts/pipelines/github/templates/ci"
# YAML file name.
yamlFile="ci-pipeline.yml"
# Source branch.
sourceBranch="feature/ci-pipeline"


# We call copy script so we don't have to modify the pipeline generator
# This function is used to add the step in the yaml file depending on the flags given
function copyScript {
  if test -z $buildPipelineName;then; echo "$buildPipelineName:\n  uses: ./.github/workflows/build-pipeline.yml" >> "${localDirectory}/${pipelinePath}/${yamlFile}";fi
  if test -z $testPipelineName;then; echo "$testPipelineName:\n  uses: ./.github/workflows/test-pipeline.yml" >> "${localDirectory}/${pipelinePath}/${yamlFile}";fi
  if test -z $qualityPipelineName;then; echo "$qualityPipelineName:\n  uses: ./.github/workflows/quality-pipeline.yml" >> "${localDirectory}/${pipelinePath}/${yamlFile}";fi
}