- name: gcr.io/cloud-builders/gcloud
  entrypoint: bash
  args:
    - ./pipelines/script/deploy-cloud-run.sh
  # - run
  # - deploy
  # - $_SERVICE_NAME
  # - --image=$_IMAGE_NAME
  # - --region=$_GCLOUD_REGION
  # - --port=$_PORT
  # - --allow-unauthenticated