#!/bin/bash
projectKey=$(python <<EOF
from json import load
with open('../../package.json', 'r') as file:
    package = load(file)
print(package["name"])
EOF
)

npx sonar-scanner -Dsonar.host.url="${sonarUrl}" -Dsonar.login="${sonarToken}" -Dsonar.projectKey=$projectKey -Dsonar.projectBaseDir="${localDirectory}" -Dsonar.sources="."
