#!/bin/bash
projectKey=$(python -c "from json import load; print(load(open('./package.json', 'r'))['name']);")

npx sonar-scanner -Dsonar.host.url="$2" -Dsonar.login="$3" -Dsonar.projectKey=$projectKey -Dsonar.sources="."