# Mandatory flags.
mandatoryFlags="$pipelineName,$localDirectory,$language,$buildPipelineName,$sonarUrl,$sonarToken,$testPipelineName,"
# Path to the templates.
templatesPath="scripts/pipelines/azure-devops/templates/quality"
# YAML file name.
yamlFile="quality-pipeline.yml"
# Script name.
scriptFile="quality.sh"
# Source branch.
sourceBranch="feature/quality-pipeline"
# Path to the pipelines.
pipelinePath=".pipelines"
# Path to the scripts.
scriptFilePath=".pipelines/scripts"

# Function that copies the script that passes the quality tests to the application.
function copyScript {
    # Copy the script.
    cp "${hangarPath}/${templatesPath}/${language}-${scriptFile}" "${localDirectory}/${scriptFilePath}/${scriptFile}"

    # Check if an extra artifact to store is supplied.
    if test ! -z "$artifactPath"
    then
        # Add the extra step to the YAML.
        cat "${hangarPath}/${templatesPath}/store-extra-path.yml" >> "${localDirectory}/${scriptFilePath}/${yamlFile}.template"
    fi

    # Add the necessary variables to the script.
    sed -i "s,<sonarqube-url>,$sonarUrl,g" "${localDirectory}/${scriptFilePath}/${scriptFile}"
    sed -i "s/<sonarqube-token>/$sonarToken/g" "${localDirectory}/${scriptFilePath}/${scriptFile}"
}

# Function that adds the variables to be used in the pipeline.
function addPipelineVariables {
    if test -z ${artifactPath}
    then
        echo "Skipping creation of the variable artifactPath as the flag has not been used."
    else
        # Add the extra artifact to store variable.
        az pipelines variable create --name "artifactPath" --pipeline-name $pipelineName --value ${artifactPath}
    fi

    # Add the name of the build pipeline name variable.
    az pipelines variable create --name "buildPipelineName" --pipeline-name $pipelineName --value ${buildPipelineName}

    # Add the name of the build pipeline name variable.
    az pipelines variable create --name "testPipelineName" --pipeline-name $pipelineName --value ${testPipelineName}
}
