# Mandatory flags.
mandatoryFlags="$pipelineName,$localDirectory,$language,$buildPipelineName,$sonarUrl,$sonarToken,$testPipelineName,"
# Path to the templates.
templatesPath="scripts/pipelines/azure-devops/templates/quality"
# YAML file name.
yamlFile="quality-pipeline.yml"
# Script name.
scriptFile="quality.sh"
# Source branch.
sourceBranch="feature/quality-pipeline"
# Path to the pipelines.
pipelinePath=".pipelines"
# Path to the scripts.
scriptFilePath=".pipelines/scripts"

# Function that copies the script that passes the quality tests to the application.
function copyScript {

    export sonarUrl
    export sonarToken

    # Substitute exported variables in the script template and copy script to destination
    cd "${hangarPath}/${templatesPath}"
    envsubst < "./${language}-quality.sh.template" > "${localDirectory}/${scriptFilePath}/${scriptFile}"

}

# Function that adds the variables to be used in the pipeline.
function addPipelineVariables {

    # Add the name of the build pipeline name variable.
    az pipelines variable create --name "buildPipelineName" --pipeline-name $pipelineName --value ${buildPipelineName}

    # Add the name of the build pipeline name variable.
    az pipelines variable create --name "testPipelineName" --pipeline-name $pipelineName --value ${testPipelineName}
}
