#!/bin/bash
# Mandatory flags.
mandatoryFlags="$pipelineName,$localDirectory,$language,"
# Path to the templates.
templatesPath="scripts/pipelines/gcloud/templates/quality"
# Path to the common templates folder
commonTemplatesPipelinePath="scripts/pipelines/common/templates/quality"
# YAML file name.
yamlFile="quality-pipeline.yml"
# Script name.
scriptFile="quality.sh"
# Source branch.
sourceBranch="feature/quality-pipeline"
# Description of the trigger
triggerDescription="Trigger for quality pipeline"
# Branch trigger
branchTrigger='.*'

# Check if the language is quarkus.
    if [[ $language == "quarkus"* ]]
    then
        language="quarkus"
    fi

case $language in
    node | angular) dockerImage="node" ;;
    quarkus*) dockerImage="maven:3-eclipse-temurin-11" ;;
    *) echo -e "${red}Error: Specified language '${language}' is not supported." >&2; echo -ne ${white}; exit 1
esac
# Function that copies the script to build the application.
function copyScript {

    export sonarUrl sonarToken
    
    # Copy the script.
    cp "${hangarPath}/${commonTemplatesPipelinePath}/${language}-${scriptFile}.template" "${localDirectory}/${scriptFilePath}/${scriptFile}"
}

# Function that adds the variables to be used in the pipeline.
function addPipelineVariables {
    # if the user did not specify a custom target-directory
    # we default to the language specific defaults
    if test -z $targetDirectory
    then
        setTargetDirectory
    fi

    # Setting the list of variable that will be used for this trigger
    subsitutionVariable="_SONAR_URL=${sonarUrl},_SONAR_TOKEN=${sonarToken},_DOCKER_IMAGE=${dockerImage}"
    export artifactsToPublish='${_TARGET_DIRECTORY}'
    specificEnvSubstList='${artifactsToPublish}'
}
