# Mandatory flags.
mandatoryFlags="$pipelineName,$localDirectory,$language,$sonarUrl,$sonarToken,$testPipelineName,"
# Path to the templates.
templatesPath="scripts/pipelines/github/templates/quality"
# YAML file name.
yamlFile="quality-pipeline.yml"
# Script name.
scriptFile="quality.sh"
# Source branch.
sourceBranch="feature/quality-pipeline"

# Function that copies the script that passes the quality tests to the application.
function copyScript {
    # Copy the script.
    cp "${hangarPath}/${templatesPath}/${language}-${scriptFile}" "${localDirectory}/${scriptFilePath}/${scriptFile}"

    # Add the necessary variables to the script.
    sed -i "s,<sonarqube-url>,$sonarUrl,g" "${localDirectory}/${scriptFilePath}/${scriptFile}"
    sed -i "s/<sonarqube-token>/$sonarToken/g" "${localDirectory}/${scriptFilePath}/${scriptFile}"
}