# Mandatory flags.
mandatoryFlags="$localDirectory,$language,$sonarUrl,$sonarToken,"
# Path to the templates.
templatesPath="scripts/pipelines/gitlab/templates/quality"
# Path to the common templates folder
commonTemplatesPipelinePath="scripts/pipelines/common/templates/quality"
# YAML file name.
yamlFile="quality-pipeline.yml"
# Script name.
scriptFile="quality.sh"
# Source branch.
sourceBranch="feature/quality-pipeline"

# Function that copies the script that passes the quality tests to the application.
function copyScript {

    cp "${hangarPath}/${commonTemplatesPipelinePath}/${language}-quality.sh.template" "${localDirectory}/${scriptFilePath}/${scriptFile}"
}

function addPipelineVariables {

    repoURL=$(git config --get remote.origin.url)
    repoNameWithGit="${repoURL/https:\/\/github.com\/}"
    repoName="${repoNameWithGit/.git}"
    glab variable set SONARQUBE_TOKEN -v "$sonarToken" -t "env_var"

    export sonarUrl
    export targetDirectory
    specificEnvSubstList='${sonarUrl} ${targetDirectory}'
}
