# Mandatory flags.
mandatoryFlags="$pipelineName,$localDirectory,$language,$sonarUrl,$sonarToken,"

# Path to the templates.
templatesPath="scripts/pipelines/github/templates/complete"

# Path to the common templates folder
commonTemplatesPipelinePath=("scripts/pipelines/common/templates/build" "scripts/pipelines/common/templates/test" "scripts/pipelines/common/templates/quality")

# YAML file name.
yamlFile="complete-pipeline.yml"

# Script name.
scriptFile=("build.sh" "test.sh" "quality.sh.template")


# Source branch.
sourceBranch="feature/ci-complete"

# Function that copies the script to build the application.
function copyScript {
    # Copy the script.
    cp "${hangarPath}/${commonTemplatesPipelinePath[0]}/${language}-${scriptFile[0]}" "${localDirectory}/${scriptFilePath}/${scriptFile[0]}"
    cp "${hangarPath}/${commonTemplatesPipelinePath[1]}/${language}-${scriptFile[1]}" "${localDirectory}/${scriptFilePath}/${scriptFile[1]}"
    cp "${hangarPath}/${commonTemplatesPipelinePath[2]}/${language}-${scriptFile[2]}" "${localDirectory}/${scriptFilePath}/${scriptFile[2]}"
}

# Function that adds the variables to be used in the pipeline.
function addPipelineVariables {
    # if the user did not specify a custom target-directory
    # we default to the language specific defaults

    if test -z $targetDirectory
    then
        setTargetDirectory
    fi

    export targetDirectory
    specificEnvSubstList='${targetDirectory}'

    
    repoURL=$(git config --get remote.origin.url)
    repoNameWithGit="${repoURL/https:\/\/github.com\/}"
    repoName="${repoNameWithGit/.git}"
    gh secret set SONARQUBE_TOKEN -a actions -b "$sonarToken" -R "$repoName"

    if test -z $targetDirectory
    then
        setTargetDirectory
    fi

    export sonarUrl
    export targetDirectory
    specificEnvSubstList='${sonarUrl} ${targetDirectory}'
}
