# Mandatory flags.
mandatoryFlags="$pipelineName,$localDirectory,$language,"

# Path to the templates.
templatesPath="scripts/pipelines/github/templates/complete"

# Path to the common templates folder
commonTemplatesPipelinePath="scripts/pipelines/common/templates/complete"

# YAML file name.
yamlFile="complete-pipeline.yml"

# Script name.
scriptFile="build.sh"

# Source branch.
sourceBranch="feature/complete-pipeline1"

# Function that copies the script to build the application.
function copyScript {
    # Copy the script.
    cp "${hangarPath}/${commonTemplatesPipelinePath}/${language}-${scriptFile}" "${localDirectory}/${scriptFilePath}/${scriptFile}"
}

# Function that adds the variables to be used in the pipeline.
function addPipelineVariables {
    # if the user did not specify a custom target-directory
    # we default to the language specific defaults

    if test -z $targetDirectory
    then
        setTargetDirectory
    fi

    export targetDirectory
    specificEnvSubstList='${targetDirectory}'
}
