; begin auth token
//pkgs.dev.azure.com/${organization}/_packaging/${organization}/npm/registry/:username=$organization
//pkgs.dev.azure.com/${organization}/_packaging/${organization}/npm/registry/:_password=$encodedPatToken
//pkgs.dev.azure.com/${organization}/_packaging/${organization}/npm/registry/:email=$email
//pkgs.dev.azure.com/${organization}/_packaging/${organization}/npm/:username=$organization
//pkgs.dev.azure.com/${organization}/_packaging/${organization}/npm/:_password=$encodedPatToken
//pkgs.dev.azure.com/${organization}/_packaging/${organization}/npm/:email=$email
; end auth token