; begin auth token
//pkgs.dev.azure.com/${organization}/_packaging/${feed}/npm/registry/:username=$organization
//pkgs.dev.azure.com/${organization}/_packaging/${feed}/npm/registry/:_password=$encodedPatToken
//pkgs.dev.azure.com/${organization}/_packaging/${feed}/npm/registry/:email=$email
//pkgs.dev.azure.com/${organization}/_packaging/${feed}/npm/:username=$organization
//pkgs.dev.azure.com/${organization}/_packaging/${feed}/npm/:_password=$encodedPatToken
//pkgs.dev.azure.com/${organization}/_packaging/${feed}/npm/:email=$email
; end auth token