#!/bin/bash
projectKey=$(python -c "from json import load; print(load(open('./package.json', 'r'))['name']);")

npx sonar-scanner -Dsonar.host.url="$sonarURL" -Dsonar.login="$sonarToken" -Dsonar.projectKey=$projectKey -Dsonar.javascript.lcov.reportPaths=lcov.info -Dsonar.sources="."