#!/bin/bash
mvn sonar:sonar -B -Dsonar.host.url="$SONAR_URL" -Dsonar.login="$SONAR_TOKEN" -Dsonar.java.binaries=$PROJECT_PATH/target/classes -Dsonar.coverage.jacoco.xmlReportPaths=$PROJECT_PATH/target/site/jacoco/jacoco.xml
