steps:
- id: "Download artifact"
  name: gcr.io/cloud-builders/gsutil
  script: |
    #!/bin/bash
    artifactPathAndName=$(gsutil ls gs://${PROJECT_ID}_cloudbuild/pipelinesArtifacts/${_BUILD_PIPELINE_NAME}/commit_${SHORT_SHA}/build_*.tar | head -1)
    gsutil cp $artifactPathAndName .
  env:
    - 'PROJECT_ID=$PROJECT_ID'
    - '_BUILD_PIPELINE_NAME=${_BUILD_PIPELINE_NAME}'
    - 'SHORT_SHA=$SHORT_SHA'

- id: "Unpack artifact"
  name: ${_DOCKER_IMAGE}
  script: |
    #!/bin/bash
    tar -xf build_*.tar

- id: "Execute test script"
  name: ${_DOCKER_IMAGE}
  script: |
    #!/bin/bash
    set -e
    [[ -f .pipelines/scripts/test-setup-environment.sh ]] && source .pipelines/scripts/test-setup-environment.sh
    .pipelines/scripts/test.sh

# mark to insert trigger